/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

:root {
	--main-bg-color: #27273C;
	--snow: #FFFBFC;
	--orange: #E57A44;
}

body {
	background-color: var(--main-bg-color);
	font-family: 'Work Sans', sans-serif;
}



/* UTILS */

section {
	padding: 2rem 0;
}

.container {
	padding: 0 1rem;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.equal-grid {
	display: grid;
	gap: 32px;
}

.text-center {
	text-align: center;
}

.text-upper {
	text-transform: uppercase;
}

.light {
	font-weight: 400;
}

.regular {
	font-weight: 500;
}

.bold {
	font-weight: 600;
}

.bolder {
	font-weight: 700;
}

.text-snow {
	color: var(--snow)
}

.eyebrow {
	color: var(--orange);
	font-weight: 600;
}

.mb-6 {
	margin-bottom: 6px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-32 {
	margin-bottom: 32px;
}

/* HERO */
.hero {
	background-color: var(--main-bg-color);
	color: var(--snow);
}

.hero-illustration {
	width: 100%;
}

.hero-text-container {
	flex-direction: column;
	justify-content: center;
}

.hero-heading {
	font-size: 32px;
	font-weight: 700;
}

/* TRUST BAR */
.trust-bar-section {
	padding-top: 0;
}

.trust-bar-heading {
	font-size: 24px;
}

.trust-bar-logos-container {
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
}

.trust-bar-logo {
	height: 25px;
	width: auto;
}

/* BENEFITS */
.benefit-cards-section {
	background-color: var(--snow);
}

.benefit-cards-container {
gap: 16px;
}

.benefit-card {
	text-align: center;
}

.benefit-card-heading {
	font-size: 24px;
}


@media screen and (min-width:48rem) {
	section {
		padding: 3rem 0;
	}

	.container {
		max-width: 770px;
	}

	.equal-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.hero-illustration-container {
		order: 2;
	}

	.hero-text-container {
		text-align: left;
	}

	.hero-heading {
		font-size: 48px;
	}

	.benefit-cards-container {
		grid-template-columns: repeat(3, 1fr);
	}

	.benefit-card {
		text-align: left;
	}
}

@media screen and (min-width:80rem) {
	section {
		padding: 5rem 0;
	}

	.container {
		max-width: 990px;
	}

	.trust-bar-logos-container {
		justify-content: space-between;
	}
}